%p Seems like your not signed in or are just curious, here is how the assignments would look.
%section#assignments
  .assignment_container
    %dt{data: {id: '3'}} Assignment #1
    %dd{data: {id: '3'}}
      .content
        .text.bold_text Chemistry
        .text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
        .text
          %span.bold_text 'Feb 14, 2009'
          |
          %span.bold_text 4 (Hours)
  .assignment_container
    %dt{data: {id: '4'}} Assignment #2
    %dd{data: {id: '4'}}
      .content
        .text.bold_text Literature
        .text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
        .text
          %span.bold_text 'Feb 13, 2009'
          |
          %span.bold_text 3 (Hours)
  .assignment_container
    %dt{data: {id: '5'}} Assignment #3
    %dd{data: {id: '5'}}
      .content
        .text.bold_text Psychology
        .text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
        .text
          %span.bold_text 'Feb 12, 2009'
          |
          %span.bold_text 2 (Hours)
  .assignment_container
    %dt{data: {id: '6'}} Assignment #4
    %dd{data: {id: '6'}}
      .content
        .text.bold_text Government
        .text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
        .text
          %span.bold_text 'Feb 14, 2009'
          |
          %span.bold_text 4 (Hours)
