%p Seems like your not signed in or just curious, here is how the homework would look.
%table.table
  %thead
    %tr
      %th Homework
      %th Course
      %th Description
      %th Due Date
      %th Estimated Length
      %th
  %tbody
    %tr
      %td.col-md-1 Assignment 12
      %td.col-md-1 Math
      %td.col-md-5
        This is some example text
      %td.col-md-2 Mon, Feb. 21
      %td.col-md-1 3.5 hours
      %td.col-md-2
        %button.btn.btn-warning.btn-xs Edit Homework
        %button.btn.btn-danger.btn-xs Delete Homework

    %tr
      %td.col-md-1 Example Problem 12
      %td.col-md-1 Science
      %td.col-md-5
        = string
        - if string.length >= 200
          %button.btn.btn-default.btn-xs.show_text Read More
      %td.col-md-2 Mon, Feb. 21
      %td.col-md-1 1 hours
      %td.col-md-2
        %button.btn.btn-warning.btn-xs Edit Homework
        %button.btn.btn-danger.btn-xs Delete Homework
    %tr
      %td.col-md-1 Finish book 
      %td.col-md-1 Literature
      %td.col-md-5
        = string
        - if string.length >= 200
          %button.btn.btn-default.btn-xs.show_text Read More
      %td.col-md-2 Mon, Feb. 21
      %td.col-md-1 2 hours
      %td.col-md-2
        %button.btn.btn-warning.btn-xs Edit Homework
        %button.btn.btn-danger.btn-xs Delete Homework
