%p Seems like your not signed in or just curious, here is how the courses would look.
%table.table
  %thead
    %tr
      %th Course Name
      %th Teacher Name
      %th # of assignments
      %th Schedule
      %th
  %tbody
    %tr
      %td.col-md-2 Science
      %td.col-md-2 Mr. Washington
      %td.col-md-2 1
      %td.col-md-3 
        .col-md-6
          12:00pm - 2:00pm
        .col-md-6
          Mon, Wed, Fri
      %td.col-md-3
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
    %tr
      %td.col-md-2 Science
      %td.col-md-2 Mr. Washington
      %td.col-md-2 2
      %td.col-md-3 Mon Wed Fri, 12:00pm - 2:00pm
      %td.col-md-3
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
    %tr
      %td.col-md-2 Science
      %td.col-md-2 Mr. Washington
      %td.col-md-2 3
      %td.col-md-3 Mon Wed Fri, 12:00pm - 2:00pm
      %td.col-md-3
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
