%p Seems like your not signed in or just curious, here is how the courses would look.
%table.table
  %thead
    %tr
      %th Course Name
      %th Schedule
      %th Teacher Name
      %th
  %tbody
    %tr
      %td.col-md-2 Science
      %td.col-md-4 Mon & Fri, 12:00pm - 2:00pm
      %td.col-md-2 Mr. Washington
      %td.col-md-4
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
    %tr
      %td.col-md-2 Science
      %td.col-md-4 Mon & Fri, 12:00pm - 2:00pm
      %td.col-md-2 Mr. Washington
      %td.col-md-4
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
    %tr
      %td.col-md-2 Science
      %td.col-md-4 Mon & Fri, 12:00pm - 2:00pm
      %td.col-md-2 Mr. Washington
      %td.col-md-4
        %button.btn.btn-warning.btn-xs Edit Course
        %button.btn.btn-danger.btn-xs Delete Course
