/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
  margin-bottom: 15px;
}

.bold_text{
  font-weight: bold;
}

.assignment_container{
  width: 100%;
}

.assignment_details .field{
  margin: 10px 0;
}

.assignment_names{
  color: #000;
  margin: 4px 0;
}

.assignment_names:hover{
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.assignment_names li{
  list-style-type: none;
}

.assignment_details{
  display: none;
  overflow: auto;
}

.assignment_names a{
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
}


.assignment_details{
}

.cancel_button{
  display: none;
}

.save_button{
  display: none;
}
.field{
  display: none;
}
